NODE_ENV=development
PORT=5000

DATABASE_URL="postgresql://username:password@localhost:5432/field_service_db?schema=public"

JWT_ACCESS_SECRET="your-jwt-access-secret"
JWT_REFRESH_SECRET="your-jwt-refresh-secret"
JWT_ACCESS_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN="7d"
BCRYPT_SALT_ROUNDS=10

GOOGLE_CLIENT_ID="your-google-client-id"

STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

CLIENT_URL="http://localhost:3000"
